<div class="container">
<h1>Welcome!</h1>
<p>Crea un post aquí</p>

<form>
 
    <div class="mb-3">
        <label for="titulo" class="form-label">titulo del post</label>
        <input type="email" class="form-control" id="titulo">
    </div>

    <div class="mb-3">
        <label for="imagen" class="form-label">url de imagen</label>
        <input type="email" class="form-control" id="imagen">
    </div>

    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>   
         <textarea class="form-control" id="contenido"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

