<div class="container">
<h1>Welcome!</h1>
<p>Crea un post aquí</p>

<form method="get" action="/post/create">

    <div class="mb-3">
        <label for="titulo" class="form-label">titulo del post</label>
        <input class="form-control" id="titulo" name="title">
    </div>

    <div class="mb-3">
        <label for="imagen" class="form-label">url de imagen</label>
        <input class="form-control" id="imagen" name="image_url">
    </div>

    <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>   
         <textarea class="form-control" id="contenido" name="content"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3> Listado de post! ʕ•ᴥ•ʔ </h3>
<% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
        <img src="<%= post.image_url %>" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content %></p>
         </div>
    </div>    
<% end %>